In [ ]:
# Ojective

In [ ]:
# Question

In [ ]:
# Codes to get the data from API

In [12]:
# Growth Stock Definition (Adrian)
# Generally there're a couple of factors we use to determine whether a stock is a growth stock or not. 
# Sales Growth: Growing faster than the average, 10% increase in sales YOY
# Debt Level: Generally decreases over the years
# Do not pay dividends or pay very little, focus on reinvesting into the company for more growth
# Higher than normal P/E ratio
# Usually in Tech in today's environment

In [35]:
# Google (Tarang)
import numpy as np
import pandas as pd
import os
import alpaca_trade_api as tradeapi
import datetime as dt
import pytz

from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv('ALPACA_API_KEY')
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")


api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

ticker_1 = "GOOGL"

# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 3 years from Today
start_date = pd.Timestamp("2012-07-04", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-07-03", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for GOOGL
google_df = api.get_bars(
    ticker_1,
    timeframe,
    start=start_date,
    end=end_date
).df

google_df = google_df.drop(columns=['open','high','low','volume','trade_count','vwap'])
google_df.index = google_df.index.date 
google_df.tail()

              close
2022-06-27  2316.67
2022-06-28  2240.15
2022-06-29  2234.03
2022-06-30  2179.26
2022-07-01  2174.75

In [36]:
# Amazon (Tarang)
# Set the ticker
ticker_2 = "AMZN"

# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 7
start_date = pd.Timestamp("2012-07-04", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-07-03", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for Amazon
amazon_df = api.get_bars(
    ticker_2,
    timeframe,
    start=start_date,
    end=end_date
).df
amazon_df = amazon_df.drop(columns=['open','high','low','volume','trade_count','vwap'])
amazon_df.index = amazon_df.index.date 


amazon_df.tail()

             close
2022-06-27  113.22
2022-06-28  107.40
2022-06-29  108.92
2022-06-30  106.21
2022-07-01  109.56

In [37]:
# Meta (Tarang)
# Set the ticker
ticker_3 = "META"

# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 7 years
start_date = pd.Timestamp("2012-07-04", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-07-03", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for META
meta_df = api.get_bars(
    ticker_3,
    timeframe,
    start=start_date,
    end=end_date
).df

meta_df = meta_df.drop(columns=['open','high','low','volume','trade_count','vwap'])
meta_df.index = meta_df.index.date 


ticker_data_3.tail()

             close
2019-11-13  193.19
2019-11-14  193.15
2019-11-15  195.10
2019-11-18  197.40
2019-11-19  199.32

In [5]:
# Dividend Stock Definition (Adrian)
# Offers regular and steady income (monthly, quarterly, semi-annual, annual) in the form of dividends
# Usually less volatility, not much growth
# Established Player in the market
# Good Dividend stock have moderate income growth every year and a track record of never breaking it

# Graph idea
# Show graph as proofs that there shouldn't be too much volatility
# Graph that measures beta vs Growth stock

In [6]:
# Embridge (Eric)

In [7]:
# Cola (Eric)

In [13]:
# Blue chip Definition (Adrian)

# Well established
# Large Market Cap
# Part of Market index

In [38]:
# TD (Saiful)
# Set the ticker
ticker_6 = "TD"

# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 3 years from Today
start_date = pd.Timestamp("2012-07-04", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-07-03", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for TD
td_df = api.get_bars(
    ticker_6,
    timeframe,
    start=start_date,
    end=end_date
).df

td_df = td_df.drop(columns=['open','high','low','volume','trade_count','vwap'])
td_df.index = td_df.index.date 




td_df.tail()

            close
2022-06-27  65.83
2022-06-28  65.81
2022-06-29  65.76
2022-06-30  65.58
2022-07-01  66.22

In [39]:
# RBC (Saiful)

# Set the ticker
ticker_7 = "RY"

# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 7 years
start_date = pd.Timestamp("2012-07-04", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-07-03", tz="America/New_York").isoformat()

# Get 7 years worth of historical data for RBC
rbc_df = api.get_bars(
    ticker_7,
    timeframe,
    start=start_date,
    end=end_date
).df

rbc_df = rbc_df.drop(columns=['open','high','low','volume','trade_count','vwap'])
rbc_df.index = rbc_df.index.date 

rbc_df.tail()

            close
2022-06-27  96.86
2022-06-28  97.31
2022-06-29  97.68
2022-06-30  96.82
2022-07-01  97.45

In [ ]:
# Interest (Time and date) (Changes)

In [48]:
# Concat the close price of each stocks
growth_stock_df = pd.concat([google_df,amazon_df,meta_df], axis = 'columns', join='inner')


# Reorganize portfolio data by having a column per symbol
growth_stock_df.columns = ['Google', 'Amazon', 'Meta']
growth_stock_df.head()

            Google  Amazon    Meta
2015-12-01  783.79  679.06  107.12
2015-12-02  777.85  676.01  106.07
2015-12-03  768.20  666.25  104.38
2015-12-04  779.21  672.64  106.18
2015-12-07  772.99  669.83  105.61

In [46]:
# Concat the close price of each stocks
blue_chip_df = pd.concat([td_df,rbc_df], axis='columns', join='inner')


# Reorganize portfolio data by having a column per symbol
blue_chip_df.columns = ['TD Bank', 'RBC']
blue_chip_df.head()

            TD Bank    RBC
2015-12-01    41.36  57.59
2015-12-02    41.19  57.57
2015-12-03    40.64  57.20
2015-12-04    41.02  57.32
2015-12-07    39.98  55.80

In [ ]:
# Combine interest rate at the bottom